<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h2>Edit Comment:</h2>
    <!-- <p>Comment is <%= comment.comment %> </p> -->


    <form method="POST" action="/<%= comment.id %>?_method=PATCH">
        <section class="input">
            <label for="commentEdit">Comment:</label>
            <textarea name="commentEdit" id="comment-edit" cols="30" rows="10">
                <%= comment.comment %>
            </textarea>
        </section>
        <button class="btn">Submit</button>
    </form>


    <script src="edit.js"></script>
</body>

</html>