<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <h2>Edit Comment:</h2>

    <form method="POST" action="/comment/<%= comment._id %>?_method=PATCH">
        <section class="input">
            <label for="commentEdit">Comment:</label>
            <textarea name="commentEdit" id="comment-edit" cols="30" rows="10"><%= comment.comment %></textarea>
        </section>
        <button class="btn btn-green">Submit</button>
    </form>


</body>

</html>