<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Board</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <h1 class="main-head">Welcome to Simon's Comment Board!</h1>

    <div>
        <% for (let item of comments) { %>

            <div class="comment-wrapper">
                <div class="commentbox">
                    <div class="comment-info">
                        <p><b>Person:</b>
                            <%= item.user %>
                        </p>
                        <p><b>Comment:</b>
                            <%= item.comment %>
                        </p>
                    </div>

                    <div class="modify-comments">
                        <a href="/<%= item.id %>"><button class="btn">Modify</button></a>
                    </div>
                </div>
            </div>

            <% } %>
    </div>

    <div class="below">
        <a href="/new"><button class="btn"> Create a new Comment!</button></a>
    </div>

</body>

</html>



<!-- make partials folder within views -->