<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Board</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <h1>Welcome to Simon's Comment Board!</h1>

    <div>
        <% for (let item of comments) { %>
            <div class="commentbox">
                <p><b>Person:</b>
                    <%= item.user %>
                </p>
                <p><b>Comment:</b>
                    <%= item.comment %>
                </p>
            </div>
            <% } %>
    </div>

    <a href="/new"><button> Create a new Comment!</button></a>

</body>

</html>



<!-- make partials folder within views -->