<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Board</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <h1>Congrats! You made it!</h1>

    <div>
        <% for (let item of comments) { %>
            <h3> This stands for a comment. Practice! NEW</h3>
            <p>Comment: <%= item.comment %>
            </p>
            <% } %>
    </div>

</body>

</html>



<!-- make partials folder within views -->