<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>

    <h1>This is where a new comment is created!</h1>

    <form action="">
        <label for="username">Enter a Username: </label>
        <input type="text" name="username" id="username">
        <br>
        <label for="content">Enter a Comment: </label>
        <textarea name="content" id="content" cols="30" rows="5"></textarea>
    </form>

    <a href="/"><button>Cancel</button></a>



</body>

</html>