<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <h1 class="main-head">This is where a new comment is created!</h1>

    <form id="createForm" action="/" method="post">

        <section class="input">
            <label for="createUser">Enter a Username: </label>
            <input type="text" name="username" id="createUser" placeholder="Username">
        </section>

        <section class="input">
            <label for="createContent">Enter a Comment: </label>
            <textarea name="content" id="createContent" cols="30" rows="5" placeholder="Comment"></textarea>
        </section>

        <button class="submit btn">Submit!</button>

    </form>

    <a href="/"><button class="btn">Cancel</button></a>


    <script src="app.js"></script>
</body>

</html>