<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
    <link rel="stylesheet" href="app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>

    <h1 class="main-head">Create a New Comment</h1>

    <form id="createForm" action="/" method="post">

        <section class="input">
            <label for="createUser">Enter a Username: </label>
            <input type="text" name="username" id="createUser" placeholder="Username">
        </section>

        <section class="input">
            <label for="createContent">Enter a Comment: </label>
            <textarea name="content" id="createContent" cols="30" rows="5" placeholder="Comment"></textarea>
        </section>

        <section class="radio">
            <p>Select your Rating for this WebApp:</p>
            <input type="radio" id="one" name="rating" value="1">
            <label for="one">1/5 Stars</label>
            <input type="radio" id="two" name="rating" value="2">
            <label for="two">2/5 Stars</label>
            <input type="radio" id="three" name="rating" value="3" checked>
            <label for="three">3/5 Stars</label>
            <input type="radio" id="four" name="rating" value="4">
            <label for="four">4/5 Stars</label>
            <input type="radio" id="five" name="rating" value="5">
            <label for="five">5/5 Stars</label>
        </section>

        <button class="submit btn btn-green">Submit!</button>

    </form>

    <a href="/"><button class="btn btn-red">Cancel</button></a>


    <script src="app.js"></script>
</body>

</html>