<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <h1 class="main-head">This is where a new comment is created!</h1>

    <form id="createForm" action="/" method="post">

        <section class="input">
            <label for="createUser">Enter a Username: </label>
            <input type="text" name="username" id="createUser" placeholder="Username">
        </section>

        <section class="input">
            <label for="createContent">Enter a Comment: </label>
            <textarea name="content" id="createContent" cols="30" rows="5" placeholder="Comment"></textarea>
        </section>

        <section>
            <p>Select your Rating for this WebApp:</p>
            <input type="radio" id="one" name="rating" value="1">
            <label for="one">1/5 Stars</label>
            <input type="radio" id="two" name="rating" value="2">
            <label for="two">2/5 Stars</label>
            <input type="radio" id="three" name="rating" value="3">
            <label for="three">3/5 Stars</label>
            <input type="radio" id="four" name="rating" value="4">
            <label for="four">4/5 Stars</label>
            <input type="radio" id="five" name="rating" value="5">
            <label for="five">5/5 Stars</label>
        </section>

        <button class="submit btn">Submit!</button>

    </form>

    <a href="/"><button class="btn">Cancel</button></a>


    <script src="app.js"></script>
</body>

</html>