body {
    height: 100%;
    background: linear-gradient(170deg, #163666, #142443);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(220, 220, 250);
    padding: 0 8px;
    font-family: 'PT Serif';
}

#main-title {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
}

#desc {
    color: rgb(40, 170, 140);
}

.comment-wrapper {
    display: flex;
}

.commentbox {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgb(8, 25, 50);
    border: 2solid 2px black;
    border-radius: 10px;
    padding: 6px 12px;
    margin: 8px 12px;
    box-shadow: 1px 1px 3px rgba(100, 200, 235, 0.2);
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}

.btn {
    margin: 8px 12px;
    background-color: rgb(240, 240, 240);
    border: 1px solid black;
    border-radius: 30px;
    padding: 6px 10px;
    cursor: pointer;
    box-shadow: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-green {
    background-color: rgb(40, 170, 140);
    color: white;
    border: none;
}

.btn-red {
    background-color: rgb(170, 40, 120);
    color: white;
    border: none;
}

.btn-green:active {
    background-color: rgb(60, 210, 170);
}

.btn-red:active {
    background-color: rgb(210, 70, 180);
}

.main-head {
    font-style: italic;
}

.input {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

label {
    margin-right: 4px;
}

.modify-comments {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.below {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    margin-top: 12px;
}

.score-display {
    margin: 8px 12px;
    background-color: rgb(8, 25, 50);
    border-radius: 10px;
    padding: 12px 12px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.star {
    color: rgb(40, 170, 140);
}

.comment-body {
    max-width: 800px;
    animation: 0.5s comment-animation ease-in;
}

.top {
    margin-bottom: 24px;
}

.radio {
    margin-bottom: 12px;
}

#comment-edit,
#createUser,
#createContent {
    padding: 8px;
    border-radius: 8px;
}

.input {
    margin-bottom: 8px;
}

@keyframes comment-animation {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}